{
	"presets": ["@babel/preset-react"],
	"plugins": [
		"@babel/plugin-transform-modules-commonjs",
		[
			"@babel/plugin-transform-typescript",
			{
				"allowNamespaces": true,
				"isTSX": true
			}
		],
		["@babel/plugin-proposal-decorators", { "legacy": true }],
		["@babel/plugin-proposal-class-properties", { "loose": true }]
	]
}
