{:mvn/repos {"github-kepler" {:url "https://maven.pkg.github.com/kepler16/ki.cljs"}}
 :paths ["src" "resources"]
 :deps
 {cljs-bean/cljs-bean {:mvn/version "1.6.0"}
  rum/rum {:mvn/version "0.12.6"}
  uix/uix.core {:local/root "uix/core"}
  uix/uix.dom {:local/root "uix/dom"}}

 :aliases
 {:build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.6.3" :git/sha "9b8e09b"}}
          :ns-default build}

  :publish! {:jvm-opts ["--illegal-access=deny"]
             :extra-deps {kepler16/deploy {:mvn/version "0.1.0"}}
             :replace-deps {uix/uix.core {:local/root "uix/core"}
                            uix/uix.dom {:local/root "uix/dom"}}
             :exec-fn kepler16.deploy/build-and-deploy!
             :exec-args {:jar "target/lib.jar"
                         :target :clojars
                         :jar-type :thin
                         :sync-pom true
                         :verbose true
                         :group-id kepler16
                         :artifact-id ki
                         :version "0.0.8"}}}}
